# Path to your Kaggle fashion dataset images folder
# Download from: kaggle datasets download -d paramaggarwal/fashion-product-images-small
# Then extract and set the path to the images folder

# Windows example:
# DATASET_PATH=C:/Users/YourName/Desktop/Dataset/fashion-dataset/images

# Mac/Linux example:
# DATASET_PATH=/home/username/datasets/fashion-dataset/images

DATASET_PATH=./fashion-images