visual-discovery-frontend/node_modules/
visual-discovery-frontend/.next/
visual-discovery-backend/__pycache__/
visual-discovery-backend/*.pyc
visual-discovery-backend/fashion-dataset/
visual-discovery-backend/.env
*.pt
*.log
fashion-dataset/
*.zip
__pycache__/
*.pyc
.env
.DS_Store
**/.DS_Store
